<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CompudavSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CompudavSystem.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="servidor" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="printerName" serializeAs="String">
                <value />
            </setting>
            <setting name="printerFontFamily" serializeAs="String">
                <value />
            </setting>
            <setting name="printerFontSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="printerHeaderPositionX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="printerHeaderPositionY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="printerMainPositionX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="printerMainPositionY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="printerFooterPositionX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="printerFooterPositionY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="preset" serializeAs="String">
                <value>0</value>
            </setting>
        </CompudavSystem.Properties.Settings>
    </userSettings>
</configuration>